---
import HeadElements from "../components/HeadElements.astro";
import { ViewTransitions } from "astro:transitions";
---

<html style="scroll-padding-top: 50px">
  <head>
    <HeadElements a="Details" />
    <ViewTransitions />
  </head>
  <body>
    <h1>Details</h1>
    <p><span transition:name="title">Text</span></p>
    <img src="/fish.png" transition:name="fish" />
  </body>
</html>
