---
import HeadElements from "../components/HeadElements.astro";
import BodyElements from "../components/BodyElements.astro";
---

<html style="scroll-padding-top: 50px">
  <head>
    <HeadElements a="1" />
  </head>
  <body><BodyElements a="1" b="2" c="3" d="4" /></body>
</html>
