---
import Body from "../components/Body.astro"
import { ViewTransitions } from "astro:transitions"
---
<html style="scroll-padding-top: 50px">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Page 3</title>
    <ViewTransitions/>
  </head>
  <Body a="3" b="4" c="1" d="2"/>
</html>
