---
import HeadElements from "../components/HeadElements.astro";
import BodyElements from "../components/BodyElements.astro";
import { ViewTransitions } from "astro:transitions";
---

<html style="scroll-padding-top: 50px">
  <head>
    <HeadElements a="4" />
    <ViewTransitions />
  </head>
  <body>
    <BodyElements a="4" b="3" c="2" d="1" />
  </body>
</html>
