---
import Body from "../components/Body.astro"
---
<html style="scroll-padding-top: 50px">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Page 1</title>
  </head>
  <Body a="1" b="2" c="3" d="4"/>
</html>
