---
import HeadElements from "../components/HeadElements.astro";
import BodyElements from "../components/BodyElements.astro";
import { ViewTransitions } from "astro:transitions";
---

<html style="scroll-padding-top: 50px">
  <head>
    <HeadElements a="3" />
    <ViewTransitions />
  </head>
  <body><BodyElements a="3" b="4" c="1" d="2" />
</body>
</html>
