<html>
<head>
</head>
<body>
<h1>Page 2</h1>
<p id="first">Long Page with links in <a href="#middle">the middle</a><p>
<p style="height: 60vh">
<p>
<a id="middle" href="/testbed">Page 1</a><br/>
<a id="middle" href="/testbed#top">Page 1 #top</a><br/>
<a id="middle" href="/testbed#first">Page 1 #first</a><br/>
<a id="middle" href="/testbed#middle">Page 1 #middle</a><br/>
<a id="middle" href="/testbed#bottom">Page 1 #bottom</a>
</p>
<p style="height: 100vh">
<p id="bottom"><a href>goto top</a></p>
</body>
</html>