<html>
<head>
</head>
<body>
<h1>Page 1</h1>
<p id="first">Long Page with links in <a href="#middle">the middle</a><p>
<p style="height: 60vh">
<p>
<a id="middle" href="/testbed2">Page 2</a><br/>
<a id="middle" href="/testbed2#top">Page 2 #top</a><br/>
<a id="middle" href="/testbed2#first">Page 2 #first</a><br/>
<a id="middle" href="/testbed2#middle">Page 2 #middle</a><br/>
<a id="middle" href="/testbed2#bottom">Page 2 #bottom</a>
</p>
<p style="height: 90vh">
<p id="bottom"><a href>goto top</a></p>
</body>
</html>