---
interface Props {
  a: string;
}
const { a } = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<title>{`Page ${a}`}</title>
<style>
  html {
    scroll-behavior: smooth;
  }
</style>
<script>
  window.addEventListener("scrollend", () =>
    console.log("scrollend: ", scrollY)
  );
  let el = document.querySelector("#title")!;
  window.addEventListener(
    "beforeload",
    () => (
      (el["transition:name"] = "title"),
      (el = document.querySelector("#title")!)
    )
  );
</script>
