---
interface Props {
  a: string;
}
const { a } = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<title>{`Page ${a}`}</title>
<style>
  html {
    font-family: sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
  }
</style>
<script>
  window.addEventListener("scrollend", () =>
    console.log("scrollend: ", scrollY)
  );
  const b: HTMLElement = document.querySelector("#b") as HTMLElement;
  window.addEventListener("astro:beforeload", () => {
    b.dataset.transitionName = "title";
  });
</script>
